body{
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background-color: orange;
}
header{
  border-radius: 20px 20px 20px 20px;
  text-align: center;
  background-color: black;
  color: red;
}
nav{
  border-radius: 20px 20px 20px 20px;
  background-color: yellow;
  color: blue;
  float: left;
}
section{
  background-color: green;
  color: purple;
  float: left;
}
* {
 margin: 0px;
 padding: 0px;
}
#htmlplaatje{
  width: 500px;
  height: 200px;

}
ul {
 background: #080808;
 padding: 10px;
}

ul li {
 background: #787878;
 padding: 5px;
 border: solid 2px white;
 display: inline;
}

ul li a {
 color: white;
 text-decoration: none;
}

ul li a:hover {
 color: #C0C0C0;
}
#plaatje1{
  position: absolute;
  top: 500px;
  left: 400px;
}
article{
  background-color: pink;
  float: left;
  clear: left;
}
footer{
  float: left;
  clear: left;
}
em{
  background-color: red;
  font-weight: bold;
}
nav:hover{
  background-color: black;
}
