body{
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background-color: orange;
}
header{
  text-align: center;
  background-color: black;
  color: red;
}
nav{
  text-align: center;
  background-color: yellow;
  color: blue;
}
section{
  text-align: center;
  background-color: green;
  color: purple;
}
* {
 margin: 0px;
 padding: 0px;
}
img{
  width: 500px;
  height: 200px;
}
